Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["90crew-playyourbookmark2"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Private key
  "/tmp/firebaseKey.json":
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://90crew-playyourbookmark2.s3.ap-northeast-2.amazonaws.com/firebaseKey.json